    {{#each posts as |post|}}
<div class="flex justify-center m-5">    
    <div class=" w-4/5 bg-white overflow-hidden shadow-lg rounded-lg divide-y divide-gray-200">
        <div class="px-4 py-5 sm:px-6">
            <h1 class="text-2xl font-bold">{{post.title}}</h1>
         </div>
        <div class="px-4 py-5 sm:p-6">
            <h1>{{post.content}}</h1>
        </div>
    </div>
</div>

{{/each}}